<%- include("header") -%>

<h2 align="center">About</h2>
<ul align="center" style="list-style-type:none">
    <li>
        Todo List made using LondonAppBrewery Template and inspired by Akhil
    </li>
    <li>
        It is a simple todo list app made with Node.js and Express
    </li>
    <li>
        Modified all the routes to use MongoDB and Mongoose
    </li>
    <li>
        Used ES6 syntax instead of CommonJS. (import instead of require) (type: module in package.json)
    </li>
</ul>
<%- include("footer") -%>
